@page "/"
@inject MediatR.IMediator _Mediator
@using DemoLibrary.Models

<h1>Hello, world!</h1>

Welcome to your new app.

<ul>
    @foreach (var person in p)
    {
        <li>@person.Id | @person.Name  @person.LastName</li>
    }
</ul>

<SurveyPrompt Title="How is Blazor working for you?" />


@code
{
    List<Person> p = new List<Person>();

    protected override async Task OnInitializedAsync()
    {
        p = await _Mediator.Send(new GetPersonListQuery());
    }
}
